*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	box-sizing: border-box;

}

body {
	background: url(weather.jpg);
	background-repeat: no-repeat;
	background-size: auto;
}

.card {
	width: 90%;
	max-width: 500px;
	background: linear-gradient(135deg, #00feba, #5b548a);
	color: #fff;
	margin: 100px auto 0;
	border-radius: 20px;
	padding: 130px;
	text-align: center;
	height: 800px;

}

.search {
	width: 80%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.search input {
	border: 0;
	outline: 0;
	background: #ebfffc;
	color: #555;
	padding: 10px 25px;
	height: 60px;
	border-radius: 30px;
	flex: 1;
	margin-right: 16px;
	font-size: 18px;
}

.search button {
	border: 0;
	outline:0;
	background: #ebfffc;
	border-radius: 50%;
	width: 45px;
	height: 50px;
	cursor: pointer;
}

.search button img {
	width: 45px;

}

.weather-icon {
	width: 170px;
	margin-top: 30px;
}

.weather h1 {
	font-size: 20px;
	font-weight: 200;
}

.weather h2 {
	font-size: 20px;
	font-weight: 200;
	margin-top: 5px;
}

.details {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	margin-top: 50px;
}

.col {
	display: flex;
	align-items: center;
	text-align: left;
}

.col img {
	width: 40px;
	margin-right: 10px;
}

.Umiditate, .Vânt {
	font-size: 28px;
	margin-top: -2px;
}

.error {
	text-align: left;
	margin-left: 10px;
	font-size: 14px;
	margin-top: 10px;
	display: none;
}
